.fundo{
    background-color: #0d0d0d;
}
#nav{
    background-color: dimgrey;
}

#carros{
    width: 100%;
    height: 700px;
}
 #cores{
    width: 100%;
    height: 100px;
 }
#cardvermelha{
    margin-top: 50px;
}
#card{
    margin-top: 5px;
}




